body {
  margin: 0%;
  padding: 0%;
 

  
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
   height: 650px; 
  background-image: url("./image/background.jpg");
  background-repeat: no-repeat;
   background-size: cover; 
}
.grid-item {
  padding: 20px;
  font-size: 40px;
  align-items: center;
}
.slider-container{
  margin-left: 350px;
}

