@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 
*{
   margin:0;
   padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.rover{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../image/background.jpg");
}
.container{
    position:relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: auto;
    z-index: 1;
}
.container .card{
    position: relative;
    width:300px;
    height:450px;
    margin:30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter:blur(5px) ;
    
}
.container .card.Curiosity{
    background-image: url("../image/Curiosity_rover.jpg");
    background-size: 100% 100%;
}  
.container .card.Spirit{
    background-image: url("../image/Spirit_rover.jpg");
    background-size: 100% 100%;
}  
.container .card.Opportunity{
    background-image: url("../image/Opportunity_rover.jpg");
    background-size: 100% 100%;
}
.container .card.Perseverance{
    background-image: url("../image/Perseverance_rover.jpg");
 background-size: 100% 100%;
 width: 300px;
  
}
.container .card .content{
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;
}

.container .card:hover .content{
    transform: translateY(0px);
    opacity: 1;
}

.container .card .content h3{
    text-align: center;
    background-color: #161623;
    font-size: 2.3em;
    color: blue;
    z-index:1;

}
.container .card .content p{
    background-color: #161623;
    font-size: 1.2em;
    color: blue;
    font-weight: 300;
}

