body {
    background-image: url(../image/background.jpg);
    font-family: 'Alegreya Sans SC',sans-serif;
    font-size: 20px;
    color: #E8E4C2;
    cursor: auto;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
   
	
}
.title{
    text-align: center;
}

.Rover-Name{
    font-size: 18px;
    margin-left: 140px;
    

}
.Rover-Name h1{
    color: yellow;
}
.filtering{
	margin: 70px;
    text-align: center;
 
}
.Tarih{
    color: red;
    margin-top:50px;
    font-size: 20px;
   
}
input{
    margin: 10px; 
   
}
button{
    background-color: yellow;
 
   border-radius: 5px;
}
.photoarea {
    
    margin: 30px;
    margin-left: 350px;
  text-align: center;
    width: 600px;
    height: 600px;
}
.photoarea img{
    object-fit: fill;
    width: 900px;
    height:600px;
}






