*,
*::before,
*::after {
    box-sizing: border-box;
}


:root {
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi: 500;
    --fw-bold: 700;
    --fs-h1: 1rem;
    --fs-h2: 0.50rem;
    --fs-body: 1.0rem;
    --fs-xl: 1.75rem;
    --clr-light: #fff;
    --clr-gray: #989898;
    --clr-dark: #444;
    --clr-accent: #D06D6D;
    --clr-accent-dark: #613131;
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

 
h1, h2, h3 {
  line-height: 1;
  color: white;
 margin-bottom: 8px;
}
.main-title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-light);
    text-transform: uppercase;
    color: var(--clr-accent);
    letter-spacing: 4px;
font-size: 25px;
grid-column: 1 / -1;

  }
  p{
    font-size: 18px;
  }
  .section-title {
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    margin: 0;
    font-size: 20px;
}
.section-title--date {
    font-size: var(--fs-xl);
    margin-top: -50px;
}

.mars-current-weather{
    background-color: rgba(131, 92, 65, 0.7);
    padding:15px ;
    margin-top: 55px;
  margin-left:20px ;
    max-width:700px;
    height:500px ;
    display: grid;     
    
    grid-template-columns:auto auto auto;
    grid-gap: 1.em;
    
}
.date{
grid-column: 1 / 2;
color: wheat;
margin-top: 40px;
height:50px;
}
.temp{
    grid-column: 2/2;
    color: wheat;
   margin-bottom: 90px;
   height:50px;
   
}
.pressure{
    grid-column: 3 / 4;
    color: wheat;
    margin-bottom: 90px;
    height:50px;
   
}

.info{
    grid-column: 1 /4;
    color: wheat;
    font-size: 15px;
    text-align: center;

}


.reading{
    font-size: 14px;

}
.info ul{
  border: 1px solid #ddd;
  list-style-type:none;
}
.info li{
  float: left;
  margin: 10px;
  position: relative;
  font-size: 13px;
  color: white;
  border-right:1px solid #ddd;
  border-bottom: 1px solid #ddd;

 
}
.info li p {
  line-height: 1em;
    font-size:16px;
    font-weight: 400;
    margin:0;
    padding-top: .9em;
    padding-bottom: .5em;
    color: white;
}