body{
  background-image: url("../image/background.jpg");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  

}

.Cerceve{
  width: 70%;
   overflow: hidden ; 
 
  box-sizing: border-box;
}
.galeri{
  position: relative;
  width: 400%;
  left: 0;
animation: 16s slayt infinite;
}
.galeri img{
  width: 25%;
  float: left;
  height: 500px;
}
@keyframes slayt {
  0%{left: 0%;}
  20%{left: 0%;}
  25%{left: -100%;}
  45%{left: -100%;}
  50%{left: -200%;}
  70%{left: -200%;}
  75%{left: -300%;}
  90%{left: -300%;}
}
