body{
  background-image: url("../image/background.jpg");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Cerceve{
  width: 100%;
    overflow: hidden; 

  box-sizing: border-box;
}
.galeri{
  position: relative;
  width: auto;
  left: 0;
  display: flex;
animation: 180s slayt infinite;
}
.galeri img{
  width: 90%;
  float: left;
  height: 500px;
}
@keyframes slayt {
  0%{left: 0%;}
  5%{left: 0%;}
  10%{left: -100%;}
  15%{left: -200%;}
  20%{left: -300%;}
  25%{left: -400%;}
  30%{left: -500%;}
  35%{left: -600%;}
  40%{left: -700%;}
  45%{left: -800%;}
  50%{left: -900%;}
  55%{left: -1000%;}
  60%{left: -1100%;}
  65%{left: -1200%;}
  70%{left: -1300%;}
  75%{left: -1400%;}
  80%{left: -1500%;}
  85%{left: -1600%;}
  90%{left: -1700%;}
  
}
