body{
  background-image: url("../image/background.jpg");
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.Cerceve{
  width: 100%;
    overflow: hidden; 

  box-sizing: border-box;
}
.galeri{
  position: relative;
  width: 400%;
  left: 0;
  display: flex;
animation: 16s slayt infinite;
}
.galeri img{
  width: 40%;
  float: left;
  height: 500px;
}
@keyframes slayt {
  0%{left: 0%;}
  5%{left: 0%;}
  10%{left: -100%;}
  15%{left: -100%;}
  20%{left: -200%;}
  25%{left: -200%;}
  30%{left: -300%;}
  35%{left: -300%;}
  40%{left: -400%;}
  45%{left: -400%;}
  50%{left: -500%;}
  55%{left: -500%;}
  60%{left: -600%;}
  65%{left: -600%;}
  70%{left: -700%;}
  75%{left: -700%;}
  80%{left: -800%;}
  85%{left: -800%;}
  90%{left: -900%;}
  
}
